#section1 {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 50px;
    align-items: center;
    outline: 2px dashed green;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    outline: 1px dashed purple;
    height: 75px;
    gap: 100px;
}

h1 {
    /* outline: 5px dashed green; */
}

.navlist {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* outline: 1px dashed red; */
}

.navlist li {
    /* outline: 1px dashed yellow; */
}

.contain1-1 {
    display: flex;
    flex-flow: row nowrap;
    /* outline: 2px dashed red; */
    justify-content: center;
}

.contain1-1-1 {
    /* outline: 5p x dashed green; */
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    max-width: 500px;
}

.sign_up1 {
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    border-width: 0px;
    border-radius: 10px;
    flex-grow: 0;
    align-self: flex-start;
}

.img_placeholder {
    max-height: 200px;
    max-width: auto;
    align-self: flex-start;
}

#section2 {
    /* outline: 5px dashed green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.images {
    /* outline: 1px dashed red; */
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}

.image1, .image2, .image3, .image4 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 125px;
}

#section2 img {
    width: 125px;
    height: auto;
}

.image-text {
    outline: 1px dashed yellow;
    text-align: center;
}

#section3 {
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.quote-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    /* outline: 1px dashed red; */
    max-width: 1000px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    max-width: 1000px;
    align-self: center;
}

.quote-source {
    /* align-self: flex-end; */
    font-weight: bold;
}